body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #000;
    background-image: url('imgs/background.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}


.container {
    width: 500px;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    margin: 40px 0 0 0; 
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-weight: bold;
    color: #ffcc00;
    margin-bottom: 10px; 
}
.logo img {
    height: auto;
    max-width: 100px;
    vertical-align: middle;
}
.icons {
    margin-bottom: 20px;
}
.icons i {
    font-size: 1.5em;
    margin: 0 10px;
    color: #ccc;
}
.icons i:hover {
    color: #ffcc00;
}
.input-container {
    position: relative;  
    margin-bottom: 20px;
}
.input-container input {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
}
.input-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #00ccff;
    color: white;
    font-size: 1em;
    cursor: pointer;
}
.input-container button:hover {
    background-color: #0099cc;
}
.footer {
    margin-top: 20px;
    font-size: 0.9em;
}
.footer a {
    color: #00ccff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.mainTitle {
    margin: 0;
    font-size: 1.5em;
    color: white;
    font-family: Roboto;
}
.flag {
    height: auto; 
    width: 100px; 
}

.main {
    width: 1800px; 
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin: 20px 0; 
    padding: 20px; 
    height: 500px; 

}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close-btn {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

#currentStreak {
    display: none; /* Initially hidden */
    font-size: 1.2em;
    color: #ffcc00;
    margin-top: 20px;
}

.search-result {
    padding: 10px;
    border-bottom: 1px solid #ccc;  
    color: black;
    cursor: pointer; /*cursor pointer */
}

.search-result:last-child {
    border-bottom: none;  
}

.search-result p {
    margin: 5px 0;
}

.search-result .portrait {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-top: 10px;
}

#suggestions {
    position: absolute;  
    top: 100%;  
    left: 50%;  
    transform: translateX(-50%); 
    width: 85%;  
    background: white; 
    color: black; 
    z-index: 10;  
    border-radius: 5px;  
    max-height: 200px;  
    overflow-y: auto;  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#suggestions::-webkit-scrollbar {
    display: none; 
}

#suggestions {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
}

.tabla {
    display: flex;
    justify-content: center; 
    margin: 20px;
}

table {
    margin: 0; 
    border-collapse: separate;
    border-spacing: 15px;
    font-size: 1.2rem;
}

th {
    border-bottom: 4px solid;
    padding: 0px; 
    margin-top: 0;
    width: 200px;
    text-align: center; 
}

td{
    border: 2px solid;
    border-radius: 5px;
    height: 100px;
    width: 100px;
    padding: 0; 
    vertical-align: middle;
    text-align: center;

}

tbody {
    display: block;
    max-height: 326px; 
    overflow-y: auto;
}

/* Hide scrollbar for WebKit browsers */
tbody::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
tbody {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Ensure table headers and cells align correctly */
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.stopwatch {
    position: absolute;
    top: 70px;
    left: 20%; /* Center horizontally */
    transform: translateX(-50%);
    width: 400px;
    height: 250px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.7em;
    z-index: 5;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    text-align: center; 
    display: none;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    font-size: 1em;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #d11a1a;
}

.shop {
    position: absolute;
    top: 40px;
    left: 80%; 
    transform: translateX(-50%);
    width: 450px;
    height: 285px;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px 10px 10px 10px; 
    border-radius: 10px;
    color: white;
    font-size: 1.7em;
    z-index: 5;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    text-align: center; 
    display: none; 
}

.shopTitle {
    font-size: 1.4em;
  
}



.shop-text {
    display: inline; 
    margin: 0; 
    vertical-align: middle; 
    font-size: 0.8em; 
}

.shop-text:hover {
    cursor: default; 
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close-btn {
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.search-result:hover {
    background-color: #d3d3d3;
    color: black; 
}

/* Ask Alberto Conflict with color */


.search-result.selected {
    background-color: #d3d3d3; 
}

.search-result.selected.hovered {
    background-color: white;
}